In [25]:
import pandas as pd
import matplotlib as mat
import matplotlib.pyplot as plt
import joblib 
import seaborn as sns
import sklearn as sk

In [26]:
df_vendas = pd.read_excel('Vendas.xlsx')

In [27]:
df_vendas.head(5)

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade,Unnamed: 9
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa,NaN
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte,NaN
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile - América do Sul,NaN
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha - Europa,NaN
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos - América do Norte,NaN

In [28]:
#Split da coluna, localidade, criando as novas colunas Pais e Continente
#Usando o Delimitador ( - )

df_vendas[['Pais','Continente']] = df_vendas['Localidade'].str.split(' - ', expand=True)

In [29]:
df_vendas.head(5)

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade,Unnamed: 9,Pais,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa,NaN,França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte,NaN,Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile - América do Sul,NaN,Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha - Europa,NaN,Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos - América do Norte,NaN,Estados Unidos,América do Norte

In [30]:
df_vendas.tail(5)

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade,Unnamed: 9,Pais,Continente
203883,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203884,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203885,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203886,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203887,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#Removendo a antiga Localidade e uma coluna que esta vazia

df_vendas = df_vendas.drop(columns=['Localidade','Unnamed: 9'])

In [33]:
df_vendas

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Pais,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos,América do Norte
...,...,...,...,...,...,...,...,...,...,...
203883,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203884,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203885,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203886,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203887,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Removendo as linhas que tenha qualquer valor NaN

df_vendas.dropna(axis=0, how='any')

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Pais,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos,América do Norte
...,...,...,...,...,...,...,...,...,...,...
203877,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,99.99,45.98,Northwind Traders,1.0,"Hughes, Jennifer",Reino Unido,Europa
203878,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,99.99,45.98,Northwind Traders,5.0,"Adams, Mary",Chile,América do Sul
203879,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,99.99,45.98,Northwind Traders,3.0,"Rivera, Morgan",Estados Unidos,América do Norte
203880,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,99.99,45.98,Northwind Traders,1.0,"Kumar, Adam",Estados Unidos,América do Norte
203881,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verm...,Headphone Bluetooth,99.99,45.98,Northwind Traders,3.0,"Rodriguez, Fernando",Estados Unidos,América do Norte

In [36]:
df_vendas.to_excel('vendas_tr.xlsx')